.navbar-brand img {
    width: 40px;
    height: 40px;
}

.nav-item {
    padding-left: 25px !important;
}

.nav-link:hover {
    font-weight: 600 !important;
    border-bottom: 1px solid #fff !important;
}

.foot {
    background-image: linear-gradient(to bottom right, rgb(75, 77, 73), rgb(51, 44, 36), rgb(12, 11, 11));
}

.link {
    text-decoration: none !important;
}

.logfont{
    text-decoration: none !important;
}

.link:hover {
    font-weight: 600  !important;
    color:rgb(218, 218, 167) !important;
}