<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}

    {% endblock %}
  </title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/base.css">
  <link rel="shortcut icon" href="/static/images/logo.jpg" type="image/x-icon">

  {% block stylesheet %}

  {% endblock %}

</head>

<body>
  {% if user.is_authenticated %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand " href="#"><img src="/static/images/logo.jpg" alt=""><strong >&nbsp;IM</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Accounts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'signin' %}" class="logfont pl-3 text-dark">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  
  {% block body %}
  {% endblock body %}

  <footer class="foot text-white pt-4 pb-1">

    <div class="container text-center">
      <div class="row text-center">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 text-warning font-weight-bold">Contact</h5>
          <p><i class="font-weight-bold fa fa-home "> Address:</i> Talaimari,Kazla,</p>
          <p>Rajshahi,Bangladesh</p>
          <p><i class="font-weight-bold fa fa-phone "> Phone:</i> </p>
          <p><i class="font-weight-bold fa fa-envelope-o"> Email:</i></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 text-warning font-weight-bold">Explore</h5>
          <p><a href="{% url 'aboutus' %}" class="text-white link">About Us</a></p>
          <p><a href="#" class="text-white link">Achievements</a></p>
          <p><a href="#" class="text-white link">Blog</a></p>
          <p><a href="#" class="text-white link">Privacy policy</a></p>
        </div>
      </div>
    </div>

    <div class=" text-center">
      <p>Copyright &copy;2022 All rights reserved by: <strong class="text-warning">Tricky</strong></p>
    </div>
  </footer>

  {% else %}

  <div class="alert alert-danger text-center" role="alert">
    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
    <a href="{% url 'signin' %}">Sign In </a>first!
  </div>

  {% endif %}


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
    crossorigin="anonymous"></script>

</body>

</html>