<div class="search_isp">
    <label for="isp"><b>Choose ISP:</b></label>
    <select name="isp" id="isp" class="form-control">
        <option selected>Select isp</option>
        <option value="link3">Link3</option>
        <option value="amberit">Amberit</option>
        <option value="smile">Smile</option>
        <option value="stargate">Stargate</option>
        <option value="btcl">BTCL</option>
        <option value="carnival">Carnival</option>
    </select>
</div>
<div class="choose_package">
    <label for="package"><b>Choose Package:</b></label>
    <select name="package" id="package" class="form-control">
        <option selected>Select Package</option>
    </select>
</div>
Fatin Nibbrash
Fatin Nibbrash Nakib
<script>
document.getElementById('isp').addEventListener('click',function(){
const val=document.getElementById('isp').value;
if (val=="link3") {
document.getElementById('package')
.innerHTML='<option>Link3-1</option><option>Link3-2</option><option>Link3-3</option>'   
}
if (val=="amberit") {
document.getElementById('package')
.innerHTML='<option>Amberit-1</option><option>Amberit-2</option><option>Amberit-3</option>'   
}
if (val=="smile") {
document.getElementById('package')
.innerHTML='<option>Smile-1</option><option>Smile-2</option><option>Smile-3</option>'   
}
})
</script>